div.wrapper {
    float: right;
}

div.grid {
    color: white;
    background: red;
    padding: 5px;    
}

/*Apartado a
#moveMe {
    background:blue;
    position: relative;
    top: 10px; 
    right: 10px;
}*/
/*Apartado b */
#moveMe {
    background: blue;
    position: relative;
    top: -10px;
    right: 10px;
}